[submodule "lib/HardonCollider"]
	path = lib/HardonCollider
	url = https://github.com/vrld/HardonCollider.git
[submodule "lib/LoveFrames"]
	path = lib/LoveFrames
	url = https://github.com/NikolaiResokav/LoveFrames.git
[submodule "lib/lovebird"]
	path = lib/lovebird
	url = https://github.com/rxi/lovebird.git
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8.git
[submodule "lib/love-loader"]
	path = lib/love-loader
	url = https://github.com/kikito/love-loader.git
[submodule "lib/cron"]
	path = lib/cron
	url = https://github.com/kikito/cron.lua.git
[submodule "lib/tween"]
	path = lib/tween
	url = https://github.com/kikito/tween.lua
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "lib/stateful"]
	path = lib/stateful
	url = https://github.com/kikito/stateful.lua.git
[submodule "lib/inspect"]
	path = lib/inspect
	url = https://github.com/kikito/inspect.lua
